<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Protect system files
    RewriteRule ^(app|config|vendor|routes|db)\b - [F,L]

    # Main routing to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>